@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #020617;
  --foreground: #e2e8f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  antialiased: true;

  /* Aurora Background Effect */
  background-image:
    radial-gradient(circle at 0% 0%, rgba(16, 185, 129, 0.15) 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, rgba(59, 130, 246, 0.15) 0%, transparent 50%),
    radial-gradient(circle at 100% 100%, rgba(168, 85, 247, 0.15) 0%, transparent 50%),
    radial-gradient(circle at 0% 100%, rgba(236, 72, 153, 0.15) 0%, transparent 50%);
  background-attachment: fixed;
}

@layer utilities {
  .glass-panel {
    background-color: rgba(30, 41, 59, 0.4);
    /* slate-800 com 40% opacidade */
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  .text-glow {
    text-shadow: 0 0 15px rgba(16, 185, 129, 0.4);
  }
}